@import "./colors";


footer{

    #foot_img{
        height: 200px;
        margin-top: 20px;
        margin-left: 30px;
    }
    background-color: $footerlight;
    dt,.col-12 {
        color: $footer_font_color;
        span {
            color: $lightBlue;
        }
    }
    dd{
        margin-left: 10px;
        margin-top: 5px;
        a{color:$footer_font_color}
    }
    p{
        color: $footer_font_color;
    }
    .row{
        text-align: center;
    }
    #foot_bottom{
        color:white;
        background-color: $footerlightbottom;
    }

    .foot_logo{
        margin-top: 20px;
        padding-top: 10px;
        .logo_bg{
            background-color: $lightBlue;
            margin-right: 10px;
            padding: 12px ;
            border-radius: 50%;
            
        }
        img{
            height: 20px;
        }
        
    }
}

@mixin para {
    font-size: 18px;
    line-height: 30px;
    margin-top: 0px; 
}

/* For desktop: */
@media only screen and (min-width: 991px) {


    footer{

        margin-top: 300px;
        #foot_img{
            height: 500px;
            margin-top: -200px;
            padding-left: 20px;
        }
        .row{
            text-align: left;
        }
    }

}