html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #183ea9;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 5px;
}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Mobile */
#nav-bg {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav-bg .active {
  color: #14348E;
}

#nav-bg a {
  color: black;
}

#hero-bg {
  margin-top: 70px;
  padding: 0px 20px;
}

#hero-bg h5 {
  color: #009FE3;
}

#hero-bg h1 {
  font-weight: 800;
  font-size: 30px;
}

#hero-bg p {
  line-height: 25px;
  margin-top: 20px;
  color: dimgrey;
  font-size: 16px;
  width: 350px;
}

#hero-bg img {
  height: 200px;
  margin-top: 40px;
}

#hero-bg #first-btn {
  background-color: #009FE3;
  border: none;
  color: white;
  border-radius: 100px;
  padding: 5px 30px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#blue_box_top {
  height: 400px;
  width: 270px;
  background-color: #14348E;
  margin-top: -450px;
  margin-left: 200px;
}

#rect_bg {
  height: 150px;
  width: 600px;
  background-color: #009FE3;
  margin-top: 140px;
}

#sections {
  margin-top: 100px;
  margin-bottom: 100px;
}

#sections p {
  margin-top: 20px;
  line-height: 20px;
}

#sections .blue_box {
  height: 400px;
  width: 270px;
  background-color: #14348E;
  margin-top: -500px;
  margin-left: -50px;
}

#sections img {
  margin-top: 100px;
}

#sections .logo_img {
  height: 40px;
  margin-right: 20px;
  margin-top: 20px;
}

#sections ul {
  margin-top: 30px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

#sections ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #009FE3;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

#sections button {
  background-color: #009FE3;
  border: none;
  color: white;
  border-radius: 100px;
  padding: 5px 30px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  background-color: lightgray;
}

footer dt span {
  color: #14348E;
}

footer dd {
  margin-left: 10px;
  margin-top: 10px;
}

footer dd a {
  color: black;
}

footer .row {
  text-align: center;
}

/* For desktop: */
@media only screen and (min-width: 991px) {
  #hero-bg {
    margin-top: 100px;
  }
  #hero-bg h1 {
    font-size: 40px;
  }
  #hero-bg img {
    margin-top: 0px;
    height: 400px;
  }
  footer .row {
    text-align: left;
  }
}
/*# sourceMappingURL=services.css.map */